body {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
    
}

ul    {
    list-style-type: none;
    width: 704px;
    height: 704px;
    margin: 25px auto;
    border: 2px solid black;
    padding: 0;
    
}

li {
    background-color: #dbf9f2;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
    border: 1px solid black;
    list-style-type: none;
    text-align: center;

    
}

li:nth-child(odd) { background-color: #40f7cc; }

h1{
	text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.btn-primary{
    /*background-color: #b82af9;*/
    position: relative;
    left: 20px;
    right: 20px;
    border: 2px solid;
   
}
.btn-primary:hover {
    background-color: #40f7cc;
    color: white;
}
.rollButton{
     background-image: url("../images/dice.png");
     width: 132px;
     height: 132px;
     border-radius: 100px;
     float: left;
     margin: 0 10px ;
}
.displayDice {
    
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
    left:20px;
    right:50px;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #f7f6e8;
    display: inline-block;
    float:left;
    position:absolute;
    left: 20px;
    top: 300px;

}
#player1{
    background-image: url("../images/smileyemoji.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid black;
    border-radius: 100px;
    padding: 0;
    margin: 0 10px;
    left:20px;
    right:50px;
    float:right;
    
    
}
#player2{
    background-image: url("../images/winkeyface.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid black;
    border-radius: 100px;
    padding: 0;
    margin: 25px;
    left:20px;
    right:50px;
    float: right;
    border-radius: 100px;
    text-align: center; 
    font-family: 'Comfortaa', cursive
    height: 1000px;
    font-size: 38px;
    padding-top: 25px;
}
h2{
    font-family: 'Bungee Shade', cursive;
}
.banana{
    background-image: url("../images/banana.jpg");
    text-align: right;
}
.monkey{
    background-image: url("../images/monkey.png");
    text-align: right;
}
#startGame{
    background-color: #7b8280;
    color: #d7f4ec;
}

#reset{
    background-color: #ffffff;
    background-image: url("../images/reset.png");
    width:128px;
    height:128px;
    background-position: center;
    float: left;
}
#reset:hover{
    background-color: #000000;
}

.brown {
    /*background-color: #f780ef !important;*/
    /*background-color: #a37503 !important;*/
    background-color: #d6a52c !important;


}
.yellow {
    background-color: #ffee00 !important;
}

@media (min-width: 576px) {
.rollButton{
    margin: 20px;
    margin-left: 200px; 
}
.btnReset{
    margin: 20px;
    margin-left: 100px;

}
#player1{
    margin-right: 20px;
    margin-top: 20px;
    float: right;

}
#player2{
    margin-right: 20px;
    margin-top: 20px;
    float: right;

}
.card-body{
    background-color: #40f7cc;
    border-radius: 100px;
}
#startGame{
    background-color: #7b8280;
    color: #d7f4ec;
}
}
