body {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
    
}

ul    {
    list-style-type: none;
    width: 529px;
    height: 529px;
    margin: 25px auto;
    border: 2px solid black;
    padding: 0;
    
}

li {
    background-color: #dbf9f2;
    box-sizing: border-box;
    height: 75px;
    width: 75px;
    display: inline-block;
    float: left;
    border: 1px solid black;
    list-style-type: none;
    text-align: center;

    
}

li:nth-child(odd) { background-color: #40f7cc; }

h1{
	text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.btn-primary{
    /*background-color: #b82af9;*/
    position: relative;
    left: 20px;
    right: 20px;
    border: 2px solid;
   
}
.btn-primary:hover {
    background-color: #40f7cc;
    color: white;
}
.rollButton{
     background-image: url("../images/dice.png");
     width: 132px;
     height: 132px;
     border-radius: 100px;
}
.displayDice {
    
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
    left:20px;
    right:50px;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #f7f6e8;
    display: inline-block;
    float:left;
    position:absolute;
    left: 20px;
    top: 300px;

}
#player1{
    background-color: #c504e2;
    width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid black;
    border-radius: 100px;
    padding: 25px
    margin: 25px;
    left:20px;
    right:50px;
    text-align: center;
    font-size: 12px; 
    font-family: "Arial Black", Gadget, sans-serif;
}
#player2{
    background-color: #db021b;
    width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid black;
    border-radius: 100px;
    padding: 25px
    margin: 25px;
    left:20px;
    right:50px;
    text-align: center;
    font-size: 12px; 
    font-family: "Arial Black", Gadget, sans-serif;
    
    }
.cards{
    background-color: #40f7cc;
    border-radius: 100px;
    text-align: center; 
    font-family: 'Comfortaa', cursive
    height: 1000px;
    font-size: 38px;
    padding-top: 25px;
}
h2{
    font-family: 'Bungee Shade', cursive;
}
#startGame{
    background-color: #7b8280;
    color: #d7f4ec;
}

#reset{
    background-color: #ffffff;
    background-image: url("../images/reset.png");
    width:128px;
    height:128px;
    background-position: center;
}
#reset:hover{
    background-color: #000000;
}


