body {
    width: 100vw;
    height: 100vh;
    
}

ul    {
    list-style-type: none;
    width: 704px;
    height: 701px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 0;
}

li {
    background-color: #fcd6f4;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
    
}
h1{
	text-align: center;
}

.btn-primary{
    background-color: #b82af9;
    position: relative;
    left: 20px;
    right: 50px;
    border: 2px solid;

    
}
.displayDice {
    
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
    left:20px;
    right:50px;
    font-family: "Arial Black", Gadget, sans-serif;

}
#player1{
    background-color: #ffff26;
   width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid black;
    padding: 25px
    margin: 25px;
    left:20px;
    right:50px;
    text-align: center;
    font-size: 32px; 
    font-family: "Arial Black", Gadget, sans-serif;
   /* background-image: url("../project-one/images/smiley1.png");*/

}




